.footer {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1px;
  color: white;
  background-color: #202329;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 152, 0);
  transition: border-bottom 1sn;
  color: white;
}

.link:hover {
  color: rgb(255, 152, 0);
  border-bottom: 0px;
}
