.section-wrapper {
  color: white;
  background-color: transparent;
}

.section-search {
  position: relative;
  display: flex;
  height: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.section-search-img {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
}

.section-search-input {
  background-color: #24282f;
  color: white;
  border-radius: 10px;
  border: 2px solid rgb(255, 152, 0);
  box-shadow: 1px 2px 10px #24282f;
  font-size: 1em;
  padding-left: 25px;
  height: 50px;
  width: 50%;
}

.section-search-input:focus-visible {
  outline: 0.5px solid rgb(255, 152, 0);
  box-shadow: 2px 3px 10px #24282f;
}

.showcase {
  position: relative;
  background-color: #24282f;
  transition: background-color 1s;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.showcase:hover {
  background-color: #3c3e44;
}

.showcase:hover .character-card {
  background-color: #24282f;
}

.character-card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.character-card {
  display: flex;
  margin: 0.6em;
  width: 600px;
  height: 230px;
  max-height: 230px;
  background-color: #3c3e44;
  transition: background-color 1s;
  border-radius: 20px;
}

.character-img {
  margin-right: 1em;
}

.character-img img {
  border-start-start-radius: 20px;
  border-end-start-radius: 20px;
}

.character-name {
  margin: 0;
  padding: 0;
  color: white;
  margin-top: 0.5em;
  font-size: 1.5em;
}

.character-content h5 {
  margin: 0.5em;
  opacity: 0.5;
}

.status {
  display: flex;
  align-items: center;
}

.status-icon-active {
  border: 1px solid rgb(255, 152, 0);
  background-color: rgb(255, 152, 0);
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
}

.status-icon-passive {
  border: 1px solid white;
  background-color: white;
  opacity: 0.5;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
}
.character-short-detail {
  width: 300px;
  font-size: 1em;
  font-weight: 200;
}

.pages-buttons {
  position: fixed;
  z-index: 2;
  right: 0px;
}
